body{
    margin: 0; 
}
.outerSquare{
    border: black solid 3px;
    width: 23%;
    height: 24.5%;
}
.innerSquare{
    background-color: blue;
    width: 50%;
    height: 50%;
    align-self: center;
    position: relative;
    top: 20%; 
    left: 20%;
    display: inline-block;

}
.squareContainer {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}

<<<<<<< HEAD
}
.dynamicSquare{
    background-color: green;
}
.row {
    display: flex;
    height: 12.5%;
=======
.innerSquare1 {
    background-color: black;
    width: 50%;
    height: 50%;
    align-self: center;
    position: relative;
    top: 20%;
    left: 20%;
}

.innerSquare2 {
    background-color: white; 
    width: 50%;
    height: 50%;
    align-self: center;
    position: relative;
    top: 20%;
    left: 20%;
>>>>>>> 1e3ab1ab56cab5831c65f705f8125d2b7e2871fe
}